@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Righteous&family=Sarala:wght@400;700&display=swap");

/*
font-family: 'Hurricane', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Sarala', sans-serif;
*/

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  height: 5rem;
}

.menu-navigation {
  display: flex;
  gap: 2em;
}

.menu-navigation li {
  list-style: none;
}

.menu-navigation a {
  text-decoration: none;
  color: #00abf0;
  font-family: "Righteous", cursive;
  font-size: 1em;
  padding-bottom: 26px;
}

.menu-navigation a:hover {
  border-bottom: 3px solid #00abf0;
}
